@charset "utf-8";
body {
	padding: 70px 5px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}

footer {
	padding: 2em 0;
	border-top: 1px solid #DDDDDD;
}